@model CargoTransportation.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VinNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VinNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfIssue)
        </dd>
        <dt class = "col-sm-2">
            @Model.TechInspection.ToShortDateString()
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechInspection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarBrand.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
